.wpcf7 .wpcf7-form-control-wrap {
  display: block;
  width: 100%;}
.wpcf7 input.wpcf7-not-valid, .wpcf7 select.wpcf7-not-valid, .wpcf7 .styled-select.wpcf7-not-valid{
  border-color:#f21a31 !important; }
.wpcf7 .wpcf7-form-control-wrap:nth-child(2n) .wpcf7-not-valid-tip {
  left: 10px !important; }
.wpcf7 .wpcf7-form-control-wrap .wpcf7-not-valid-tip {
  display: none;
  position: absolute;
  left: 0px !important;
  background: #d1525d !important;
  font-size: 11px !important;
  bottom: -30px !important;
  color:#000 !important;
  margin-top: 0px !important;}
.wpcf7 .wpcf7-response-output {
  display: none !important; }
   .wpcf7 .wpcf7-response-output.wpcf7-mail-sent-ok{
    background-color: #049ede !important;
    color: #fff !important;
    display: block !important; }
  .wpcf7 .wpcf7-response-output.wpcf7-validation-errors, .wpcf7 .wpcf7-response-output.wpcf7-mail-sent-ng{
  display: block !important; 
  border: 2px solid #ff0000 !important;
  background: none !important;
  color: #000000 !important;}
.wpcf7 input {
  background-color: #fff !important;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid;
  border-color: #000; 
  margin-bottom: 20px;
  display: inherit;
  width: 100%;
  padding: 4px;}
  .wpcf7 input.mitad {
    width: calc(50% - 5px) !important; display: inherit;}
  .wpcf7 input.wpcf7-tel {
    width: 100%; }
  .wpcf7 input.wpcf7-submit {
    display: none !important; }
  .wpcf7 input.wpcf7-captchar {
    width: 100px; }
.wpcf7 select, .wpcf7 textarea {
  width: 100% !important;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid;
  border-color: #000; }
.wpcf7 textarea {
  font-family: $font_base;
  margin-top: -8px;
  padding: 8px 4px 0;
  width: 100%;
  max-height: 161px;
  overflow:hidden;
  resize:none;
  line-height:40px;
  background: linear-gradient(180deg, 
        $white 40px, 
        $textcolor 41px, 
        $white 41px,
        $white 80px,
        $textcolor 81px,
        $white 81px,
        $white 120px,
        $textcolor 121px,
        $white 121px,
        $white 160px,
        $textcolor 161px
    );
  background-repeat:repeat-y, repeat;
  resize: none;
  margin-bottom: 20px; }
.wpcf7 select {
  border: 1px solid;
  margin-bottom: 20px;
  padding: 4px 0;}
.wpcf7 button {
  margin: 0px; 
  width: 100%;
  border: 1px solid color(uno);
  border-radius: 0;
  background: color(uno);
  color: $white;
  font-size: 21px;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  padding-right: 100px;
  position: relative;}
  .wpcf7 button:after {
    content: '';
    background: $white;
    height: 1px;
    width: 80px;
    position: absolute;
    display: block;
    right: 20px;
    top: 22px;
    transition: all 0.5s ease-in-out;}
  .wpcf7 button:hover, .wpcf7 button:focus {
    background: $white;
    color: color(uno);}
  .wpcf7 button:hover:after, .wpcf7 button:focus:after {
    background: color(uno);}
.squaredFour {
  width: 20px;
  position: relative;
  display: inline-block !important;
  vertical-align: top;
  width: auto !important;}
  .squaredFour + p{
    font-size: 14px;
    color : gris('b6');
    max-width: 200px;}
  .squaredFour + p a{
    display: inline;
    color : gris('b6');}
  .squaredFour label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5); 
    margin-left: 0px;}
    .squaredFour label:after {
      content: '';
      width: 18px;
      height: 8px;
      position: absolute;
      top: 0px;
      left: 4px;
      border: 1px solid #333;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg); }
    .squaredFour label:hover::after {
      opacity: 0.5; }
  .squaredFour input[type=checkbox] {
    visibility: hidden; }
    .squaredFour input[type=checkbox]:checked + label:after {
      opacity: 1; }
.md-content .squaredFour {
  width: 100%;}
  .md-content .squaredFour {
  padding-left: 20px;}
.wpcf7-form select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; 
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
.wpcf7-form select, .wpcf7-form select:hover {
  /* background set copied from foundation.css */
  background-color: $white;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: 100% center;
  background-repeat: no-repeat;
  border: 0;
  border-bottom: 1px solid;
}
.wpcf7-form .inline{
  display: inline-block;
  vertical-align: top;
}
.wpcf7-form .submit{
  float: right;
  @include respond-to (bp_13){
    float: none;
    display: block;
  }
}