


/*------------------------------------------------------------------------------------------------------------*\
    $SITIO
\*------------------------------------------------------------------------------------------------------------*/


@-webkit-viewport {
	width : device-width;
}

@-moz-viewport {
	width : device-width;
}

@-ms-viewport {
	width : device-width;
}

@-o-viewport {
	width : device-width;
}

@viewport {
	width : device-width;
}

html {
	background                  : $background;
	font-size                   : 100%;
	-webkit-overflow-scrolling  : touch;
	-webkit-tap-highlight-color : transparent;
	text-size-adjust            : 100%;
}

body {
	margin           : 0;
	padding          : 0;
	width            : 100%;
	background-color : transparent;
	font-family      : $font_base;
	color            : $textcolor;
	font-size      	 : $fontsize;
}

/**
* A partir de aquí es donde debes escribir los estilos de posicionamiento
* y detalles que forman tu web. Disfruta!
*/



/*------------------------------------------------------------------------------------------------------------*\
    $GENERAL
\*------------------------------------------------------------------------------------------------------------*/

html,
body {
	background-color : gris(f8);
}

.wrapper {
	//border-left: 1px solid blue;
	//border-right: 1px solid blue;
	@include max-width($pagemaxwidth);
}


.main {
	@extend .wrapper;
	display: flex;
	justify-content: space-between;
	.content {
		width: calc(75% - 10px);
		padding: 20px;
		background-color: gris(f3);
	}
	.sidebar {
		width: calc(25% - 10px);
		background-color: gris(cd);
	}
}



/*------------------------------------------------------------------------------------------------------------*\
    $HEADER
\*------------------------------------------------------------------------------------------------------------*/
.header {
	@extend .wrapper;
	text-align: center;
}



/*------------------------------------------------------------------------------------------------------------*\
    $MENÚ
\*------------------------------------------------------------------------------------------------------------*/
.menu {
	position: relative;
	margin: 20px 0;
	@include e(list) {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0;
		background-color: $lightgrey;
		li {
			list-style: none;
			margin: 0 10px;
			padding: 0;
			a {
				display: block;
				padding: 5px 10px;
				color: $textcolor;
				transition: background-color $hovertransitiontime ease-in-out,
							color $hovertransitiontime ease-in-out;
			}
			&:hover,
			&:focus {
				& > .submenu {
					max-height: 100%;
				}
				a {
					color: $white;
					background-color: lighten($black, 60%);
					text-decoration: none;
				}
			}
		}
	}
}
.submenu {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: auto;
	max-height: 0;
	transition: max-height $hovertransitiontime ease-in-out;
	overflow: hidden;
	&:hover,
	&:focus {
		overflow: visible;
	}
	@include m(1) {
		background-color: lighten($black, 60%);
		li {
			&:hover,
			&:focus {
				a {
					background-color: lighten($black, 40%);
				}
			}
		}
	}
	@include m(2) {
		background-color: lighten($black, 40%);
	}
}



/*------------------------------------------------------------------------------------------------------------*\
    $MAIN
\*------------------------------------------------------------------------------------------------------------*/
.main {
	h1 {
		font-size: 26px;
	}
	h2.noresults {
		font-style: italic;
		color: gris(cc);
		font-size: 24px;
	}
	.results {
		.result {
			margin-bottom: 20px;
			background-color: $white;
			.info {
				padding: 20px;
				h2 {
					font-size: 22px;
					a {
						color: $textcolor;
						&:hover,
						&:focus {
							color: color(uno);
						}
					}
				}
				.resume {
					@extend %clearfix;
					a.read-more {
						display: block;
						margin-top: 20px;
						padding: 5px 0;
						max-width: 120px;
						color: color(uno);
					}
				}
			}
			@include m(foto) {
				display: flex;
				.foto {
					width: 25%;
				}
				.info {
					width: 75%;
				}
			}
			@include m(full) {

			}
		}
	}
	.author {
		display: flex;
		margin-top: 40px;
		border: 3px dashed $black;
		@include e(avatar) {
			width: 20%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		@include e(info) {
			width: 80%;
			padding: 20px;
			h3.name {
				font-size: 20px;
			}
			.bio {
				font-size: 14px;
			}
			a.link {
				text-transform: uppercase;
				font-size: 12px;
			}
		}
	}
	.pagination {
		margin-top: 40px;
	}
}



/*------------------------------------------------------------------------------------------------------------*\
    $SIDEBAR
\*------------------------------------------------------------------------------------------------------------*/
.sidebar {
	padding: 20px;
	.widget {
		margin-bottom: 40px;
		h6 {
			text-transform: uppercase;
			font-size: 22px;
		}
		.form--search {
			margin: 0;
			position: relative;
			height: 40px;
			display: flex;
			label {
				.screen-reader-text {
					display: none;
				}
			}
			label,
			button.btn--submit {
				margin: 0;
				height: 100%;
			}
			input[type=search] {
				appearance: none;
				height: 100%;
				padding: 5px 10px;
				border: none;
				border-radius: 0;
				font-size: 14px;
				margin-bottom: 0;
			}
			button.btn--submit {
				cursor: pointer;
				appearance: none;
				border: none;
				padding: 0 10px;
				color: $white;
				background-color: gris('3');
				text-transform: uppercase;
				border-radius: 0;
				font-size: 10px;
				margin-bottom: 0;
			}
		}
		.tagcloud {
			a {
				color: $textcolor;
				&:hover,
				&:focus {
					color: color(uno);
				}
			}
		}
		ul {
			margin: 0;
			padding: 0 0 0 20px;
			li {
				margin-bottom: 5px;
				a {
					color: $textcolor;
					&:hover,
					&:focus {
						color: color(uno);
					}
				}
				.post-date {
					display: block;
					font-size: 12px;
					margin-bottom: 0;
				}
			}
		}
	}
}



/*------------------------------------------------------------------------------------------------------------*\
    $FOOTER
\*------------------------------------------------------------------------------------------------------------*/
.footer {
	margin-top: 20px;
	color: gris(d);
	background-color: gris('4');
	& > .wrapper {
		padding: 10px 0;
	}
}



/*------------------------------------------------------------------------------------------------------------*\
    $SINGLE
\*------------------------------------------------------------------------------------------------------------*/
.single {
	@include e(portada) {
		margin-bottom: 20px;
	}
	@include e(content) {
		padding-right: 40px;
	}
}



/*------------------------------------------------------------------------------------------------------------*\
    ANIMATIONS
\*------------------------------------------------------------------------------------------------------------*/
@include keyframes(fade) {
	40% {
		opacity: .8;
	}
	42% {
		opacity: .1;
	}
	43% {
		opacity: .8;
	}
	45% {
		opacity: .1;
	}
	46% {
		opacity: .8;
	}
}

@include keyframes(blink) {
	70% {
		opacity: .7;
	}
}
