@charset "UTF-8";
/*------------------------------------------------------------------------------------------------------------*\
    $STYLE - Aquí incluímos todos los módulos (archivos .scss) que se van a compilar en el CSS definitivo: /css/style.css.
\*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*\
    $SETTINGS
\*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*\
    $OBJETOS Y ABSTRACCIONES
    ¿Qué objetos y abstracciones vamos a usar?
    (
        true: se usa,
        false: no se usa
    )
\*------------------------------------------------------------------------------------------------------------*/
/**
 *
 * Definimos y configuramos las variables CSS que vamos a utilizar
 *
 */
/*------------------------------------------------------------------------------------------------------------*\
    $BREAKPOINTS
\*------------------------------------------------------------------------------------------------------------*/
/* Lo usamos con el mixin respond-to($breakpoint)

.text {
    color: pink;
    @include respond-to(bp_5) {
        color: maroon;
    }
}

'bp_1' : 87.5em    // 1400px
'bp_2' : 85.375em  // 1366px
'bp_3' : 80em      // 1280px
'bp_4' : 75em      // 1200px
'bp_5' : 68.75em   // 1100px
'bp_6' : 64em      // 1024px
'bp_7' : 60em      //  960px
'bp_8' : 56.25em   //  900px
'bp_9' : 52.5em    //  840px
'bp_10' : 48em     //  768px
'bp_11' : 42.5em   //  680px
'bp_12' : 37.5em   //  600px
'bp_13' : 32.5em   //  520px
'bp_14' : 30em     //  480px
'bp_15' : 25em     //  400px
'bp_16' : 20em     //  320px


Para convertir PX a EM --> http://pxtoem.com/

*/
/*------------------------------------------------------------------------------------------------------------*\
    $DIRECTORIOS
\*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*\
    $LAYOUT
\*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*\
    $TAMAÑOS
\*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*\
    $FONT-FACE
\*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*\
    $COLORES
\*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------*\
    $TEXTURAS
\*------------------------------------------------------------------------------------------------------------*/
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * Asigna el tamaño de la fuente (en rem) + el lineheight + el margin-bottom --> [vertical rhythm]
 * @param  $size:        $basefontsize   [tamaño de la fuente raíz]
 * @param  $margin:      yes             [si lleva o no margin-bottom]
 * @param  $line-height: $baselineheight [line-height]
 */
/**
 * Crea formas de triángulos
 * @param  {string} $dir   [dirección donde apunta]
 * @param  {string} $size  [tamaño]
 * @param  {string} $color [color]
 */
/**
 * Para crear animaciones
 * @param  $name [nombre de la animación]
 */
/*
 * Estilos para los placeholders

   Uso:
	input[type=text] {
 		color: red;
 		@include placeholder {
 			color: blue;
 		}
 	}
 */
/*------------------------------------------------------------------------------------------------------------*\
    $FUNCIONES
\*------------------------------------------------------------------------------------------------------------*/
/**
 * Función para obtener colores grises
 * @param  {string} $code Puede ser 'X' => 'XXXXXX' | 'XY' => 'XYXYXXY' | 'XYZ' => 'XYZXYZ'
 * @return {string}       Color en hexadecimal '#XXXXXX'
 */
/**
 * Función para obtener un color
 * @param  {string} $name  Nombre
 * @return {integer}       Valor
 */
/**
 * Función para controlar el index
 * @param  {string} $layer Tipo/nivel
 * @return {integer}       Valor
 */
/**
 * Función para mantener el tamaño de fuente consistente
 * @param  {string} $font-size Nombre
 * @return {integer}           Valor
 */
/**
 * Función para mantener el interlineado de fuente consistente
 * @param  {string} $line-height Nombre
 * @return {integer}             Valor
 */
/*------------------------------------------------------------------------------------------------------------*\
    $PLACEHOLDERS
\*------------------------------------------------------------------------------------------------------------*/
.main .results .result .info .resume:after {
  content: "";
  display: table;
  clear: both; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible; }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -ms-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -ms-transform: translateY(-15px);
    transform: translateY(-15px); } }
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }
@keyframes pulse {
  0% {
    -ms-transform: scale(1);
    transform: scale(1); }
  50% {
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -ms-transform: scale(1);
    transform: scale(1); } }
@keyframes rubberBand {
  0% {
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -ms-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    -ms-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    -ms-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    -ms-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    -ms-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes shake {
  0%, 100% {
    -ms-transform: translateX(0);
    transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% {
    -ms-transform: translateX(-10px);
    transform: translateX(-10px); }
  20%, 40%, 60%, 80% {
    -ms-transform: translateX(10px);
    transform: translateX(10px); } }
@keyframes swing {
  20%, 40%, 60%, 80%, 100% {
    -ms-transform-origin: top center;
    transform-origin: top center; }
  20% {
    -ms-transform: rotate(15deg);
    transform: rotate(15deg); }
  40% {
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  60% {
    -ms-transform: rotate(5deg);
    transform: rotate(5deg); }
  80% {
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  100% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); } }
@keyframes tada {
  0% {
    -ms-transform: scale(1);
    transform: scale(1); }
  10%, 20% {
    -ms-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg); }
  30%, 50%, 70%, 90% {
    -ms-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg); }
  40%, 60%, 80% {
    -ms-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg); }
  100% {
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0); } }
@keyframes wobble {
  0% {
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  15% {
    -ms-transform: translateX(-25%) rotate(-5deg);
    transform: translateX(-25%) rotate(-5deg); }
  30% {
    -ms-transform: translateX(20%) rotate(3deg);
    transform: translateX(20%) rotate(3deg); }
  45% {
    -ms-transform: translateX(-15%) rotate(-3deg);
    transform: translateX(-15%) rotate(-3deg); }
  60% {
    -ms-transform: translateX(10%) rotate(2deg);
    transform: translateX(10%) rotate(2deg); }
  75% {
    -ms-transform: translateX(-5%) rotate(-1deg);
    transform: translateX(-5%) rotate(-1deg); }
  100% {
    -ms-transform: translateX(0%);
    transform: translateX(0%); } }
@keyframes bounceIn {
  0% {
    opacity: 0;
    -ms-transform: scale(0.3);
    transform: scale(0.3); }
  50% {
    opacity: 1;
    -ms-transform: scale(1.05);
    transform: scale(1.05); }
  70% {
    -ms-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -ms-transform: scale(1);
    transform: scale(1); } }
@keyframes bounceInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px); }
  60% {
    opacity: 1;
    -ms-transform: translateY(30px);
    transform: translateY(30px); }
  80% {
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); }
  100% {
    -ms-transform: translateY(0);
    transform: translateY(0); } }
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px); }
  60% {
    opacity: 1;
    -ms-transform: translateX(30px);
    transform: translateX(30px); }
  80% {
    -ms-transform: translateX(-10px);
    transform: translateX(-10px); }
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0); } }
@keyframes bounceInRight {
  0% {
    opacity: 0;
    -ms-transform: translateX(2000px);
    transform: translateX(2000px); }
  60% {
    opacity: 1;
    -ms-transform: translateX(-30px);
    transform: translateX(-30px); }
  80% {
    -ms-transform: translateX(10px);
    transform: translateX(10px); }
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0); } }
@keyframes bounceInUp {
  0% {
    opacity: 0;
    -ms-transform: translateY(2000px);
    transform: translateY(2000px); }
  60% {
    opacity: 1;
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }
  80% {
    -ms-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    -ms-transform: translateY(0);
    transform: translateY(0); } }
@keyframes bounceOut {
  0% {
    -ms-transform: scale(1);
    transform: scale(1); }
  25% {
    -ms-transform: scale(0.95);
    transform: scale(0.95); }
  50% {
    opacity: 1;
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    opacity: 0;
    -ms-transform: scale(0.3);
    transform: scale(0.3); } }
@keyframes bounceOutDown {
  0% {
    -ms-transform: translateY(0);
    transform: translateY(0); }
  20% {
    opacity: 1;
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    opacity: 0;
    -ms-transform: translateY(2000px);
    transform: translateY(2000px); } }
@keyframes bounceOutLeft {
  0% {
    -ms-transform: translateX(0);
    transform: translateX(0); }
  20% {
    opacity: 1;
    -ms-transform: translateX(20px);
    transform: translateX(20px); }
  100% {
    opacity: 0;
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px); } }
@keyframes bounceOutRight {
  0% {
    -ms-transform: translateX(0);
    transform: translateX(0); }
  20% {
    opacity: 1;
    -ms-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    opacity: 0;
    -ms-transform: translateX(2000px);
    transform: translateX(2000px); } }
@keyframes bounceOutUp {
  0% {
    -ms-transform: translateY(0);
    transform: translateY(0); }
  20% {
    opacity: 1;
    -ms-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 0;
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px); } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
    transform: translateY(0); } }
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px); }
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
    transform: translateY(0); } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -ms-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    -ms-transform: translateX(0);
    transform: translateX(0); } }
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px); }
  100% {
    opacity: 1;
    -ms-transform: translateX(0);
    transform: translateX(0); } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -ms-transform: translateX(20px);
    transform: translateX(20px); }
  100% {
    opacity: 1;
    -ms-transform: translateX(0);
    transform: translateX(0); } }
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -ms-transform: translateX(2000px);
    transform: translateX(2000px); }
  100% {
    opacity: 1;
    -ms-transform: translateX(0);
    transform: translateX(0); } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -ms-transform: translateY(20px);
    transform: translateY(20px); }
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
    transform: translateY(0); } }
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -ms-transform: translateY(2000px);
    transform: translateY(2000px); }
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
    transform: translateY(0); } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOutDown {
  0% {
    opacity: 1;
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -ms-transform: translateY(20px);
    transform: translateY(20px); } }
@keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -ms-transform: translateY(2000px);
    transform: translateY(2000px); } }
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    -ms-transform: translateX(0);
    transform: translateX(0); }
  100% {
    opacity: 0;
    -ms-transform: translateX(-20px);
    transform: translateX(-20px); } }
@keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    -ms-transform: translateX(0);
    transform: translateX(0); }
  100% {
    opacity: 0;
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px); } }
@keyframes fadeOutRight {
  0% {
    opacity: 1;
    -ms-transform: translateX(0);
    transform: translateX(0); }
  100% {
    opacity: 0;
    -ms-transform: translateX(20px);
    transform: translateX(20px); } }
@keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    -ms-transform: translateX(0);
    transform: translateX(0); }
  100% {
    opacity: 0;
    -ms-transform: translateX(2000px);
    transform: translateX(2000px); } }
@keyframes fadeOutUp {
  0% {
    opacity: 1;
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -ms-transform: translateY(-20px);
    transform: translateY(-20px); } }
@keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px); } }
@keyframes flip {
  0% {
    -ms-transform: perspective(400px) rotateY(0);
    transform: perspective(400px) rotateY(0);
    animation-timing-function: ease-out; }
  40% {
    -ms-transform: perspective(400px) translateZ(150px) rotateY(170deg);
    transform: perspective(400px) translateZ(150px) rotateY(170deg);
    animation-timing-function: ease-out; }
  50% {
    -ms-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    animation-timing-function: ease-in; }
  80% {
    -ms-transform: perspective(400px) rotateY(360deg) scale(0.95);
    transform: perspective(400px) rotateY(360deg) scale(0.95);
    animation-timing-function: ease-in; }
  100% {
    -ms-transform: perspective(400px) scale(1);
    transform: perspective(400px) scale(1);
    animation-timing-function: ease-in; } }
@keyframes flipInX {
  0% {
    opacity: 0;
    -ms-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg); }
  40% {
    -ms-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg); }
  70% {
    -ms-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg); }
  100% {
    opacity: 1;
    -ms-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg); } }
@keyframes flipInY {
  0% {
    opacity: 0;
    -ms-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg); }
  40% {
    -ms-transform: perspective(400px) rotateY(-10deg);
    transform: perspective(400px) rotateY(-10deg); }
  70% {
    -ms-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg); }
  100% {
    opacity: 1;
    -ms-transform: perspective(400px) rotateY(0deg);
    transform: perspective(400px) rotateY(0deg); } }
@keyframes flipOutX {
  0% {
    opacity: 1;
    -ms-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg); }
  100% {
    opacity: 0;
    -ms-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg); } }
@keyframes flipOutY {
  0% {
    opacity: 1;
    -ms-transform: perspective(400px) rotateY(0deg);
    transform: perspective(400px) rotateY(0deg); }
  100% {
    opacity: 0;
    -ms-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg); } }
@keyframes lightSpeedIn {
  0% {
    opacity: 0;
    -ms-transform: translateX(100%) skewX(-30deg);
    transform: translateX(100%) skewX(-30deg); }
  60% {
    opacity: 1;
    -ms-transform: translateX(-20%) skewX(30deg);
    transform: translateX(-20%) skewX(30deg); }
  80% {
    opacity: 1;
    -ms-transform: translateX(0%) skewX(-15deg);
    transform: translateX(0%) skewX(-15deg); }
  100% {
    opacity: 1;
    -ms-transform: translateX(0%) skewX(0deg);
    transform: translateX(0%) skewX(0deg); } }
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
    -ms-transform: translateX(0%) skewX(0deg);
    transform: translateX(0%) skewX(0deg); }
  100% {
    opacity: 0;
    -ms-transform: translateX(100%) skewX(-30deg);
    transform: translateX(100%) skewX(-30deg); } }
@keyframes rotateIn {
  0% {
    opacity: 0;
    -ms-transform: rotate(-200deg);
    transform: rotate(-200deg);
    -ms-transform-origin: center center;
    transform-origin: center center; }
  100% {
    opacity: 1;
    -ms-transform: rotate(0);
    transform: rotate(0);
    -ms-transform-origin: center center;
    transform-origin: center center; } }
@keyframes rotateInDownLeft {
  0% {
    opacity: 0;
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -ms-transform-origin: left bottom;
    transform-origin: left bottom; }
  100% {
    opacity: 1;
    -ms-transform: rotate(0);
    transform: rotate(0);
    -ms-transform-origin: left bottom;
    transform-origin: left bottom; } }
@keyframes rotateInDownRight {
  0% {
    opacity: 0;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -ms-transform-origin: right bottom;
    transform-origin: right bottom; }
  100% {
    opacity: 1;
    -ms-transform: rotate(0);
    transform: rotate(0);
    -ms-transform-origin: right bottom;
    transform-origin: right bottom; } }
@keyframes rotateInUpLeft {
  0% {
    opacity: 0;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -ms-transform-origin: left bottom;
    transform-origin: left bottom; }
  100% {
    opacity: 1;
    -ms-transform: rotate(0);
    transform: rotate(0);
    -ms-transform-origin: left bottom;
    transform-origin: left bottom; } }
@keyframes rotateInUpRight {
  0% {
    opacity: 0;
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -ms-transform-origin: right bottom;
    transform-origin: right bottom; }
  100% {
    opacity: 1;
    -ms-transform: rotate(0);
    transform: rotate(0);
    -ms-transform-origin: right bottom;
    transform-origin: right bottom; } }
@keyframes rotateOut {
  0% {
    opacity: 1;
    -ms-transform: rotate(0);
    transform: rotate(0);
    -ms-transform-origin: center center;
    transform-origin: center center; }
  100% {
    opacity: 0;
    -ms-transform: rotate(200deg);
    transform: rotate(200deg);
    -ms-transform-origin: center center;
    transform-origin: center center; } }
@keyframes rotateOutDownLeft {
  0% {
    opacity: 1;
    -ms-transform: rotate(0);
    transform: rotate(0);
    -ms-transform-origin: left bottom;
    transform-origin: left bottom; }
  100% {
    opacity: 0;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -ms-transform-origin: left bottom;
    transform-origin: left bottom; } }
@keyframes rotateOutDownRight {
  0% {
    opacity: 1;
    -ms-transform: rotate(0);
    transform: rotate(0);
    -ms-transform-origin: right bottom;
    transform-origin: right bottom; }
  100% {
    opacity: 0;
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -ms-transform-origin: right bottom;
    transform-origin: right bottom; } }
@keyframes rotateOutUpLeft {
  0% {
    opacity: 1;
    -ms-transform: rotate(0);
    transform: rotate(0);
    -ms-transform-origin: left bottom;
    transform-origin: left bottom; }
  100% {
    opacity: 0;
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -ms-transform-origin: left bottom;
    transform-origin: left bottom; } }
@keyframes rotateOutUpRight {
  0% {
    opacity: 1;
    -ms-transform: rotate(0);
    transform: rotate(0);
    -ms-transform-origin: right bottom;
    transform-origin: right bottom; }
  100% {
    opacity: 0;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -ms-transform-origin: right bottom;
    transform-origin: right bottom; } }
@keyframes slideInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px); }
  100% {
    -ms-transform: translateY(0);
    transform: translateY(0); } }
@keyframes slideInLeft {
  0% {
    opacity: 0;
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px); }
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0); } }
@keyframes slideInRight {
  0% {
    opacity: 0;
    -ms-transform: translateX(2000px);
    transform: translateX(2000px); }
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0); } }
@keyframes slideInUp {
  0% {
    opacity: 0;
    -ms-transform: translateY(2000px);
    transform: translateY(2000px); }
  100% {
    -ms-transform: translateY(0);
    transform: translateY(0); } }
@keyframes slideOutDown {
  0% {
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -ms-transform: translateY(2000px);
    transform: translateY(2000px); } }
@keyframes slideOutLeft {
  0% {
    -ms-transform: translateX(0);
    transform: translateX(0); }
  100% {
    opacity: 0;
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px); } }
@keyframes slideOutRight {
  0% {
    -ms-transform: translateX(0);
    transform: translateX(0); }
  100% {
    opacity: 0;
    -ms-transform: translateX(2000px);
    transform: translateX(2000px); } }
@keyframes slideOutUp {
  0% {
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px); } }
@keyframes hinge {
  0% {
    animation-timing-function: ease-in-out;
    -ms-transform: rotate(0);
    transform: rotate(0);
    -ms-transform-origin: top left;
    transform-origin: top left; }
  20%, 60% {
    animation-timing-function: ease-in-out;
    -ms-transform: rotate(80deg);
    transform: rotate(80deg);
    -ms-transform-origin: top left;
    transform-origin: top left; }
  40% {
    animation-timing-function: ease-in-out;
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    -ms-transform-origin: top left;
    transform-origin: top left; }
  80% {
    opacity: 1;
    animation-timing-function: ease-in-out;
    -ms-transform: rotate(60deg) translateY(0);
    transform: rotate(60deg) translateY(0);
    -ms-transform-origin: top left;
    transform-origin: top left; }
  100% {
    opacity: 0;
    -ms-transform: translateY(700px);
    transform: translateY(700px); } }
@keyframes rollIn {
  0% {
    opacity: 0;
    -ms-transform: translateX(-100%) rotate(-120deg);
    transform: translateX(-100%) rotate(-120deg); }
  100% {
    opacity: 1;
    -ms-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg); } }
@keyframes rollOut {
  0% {
    opacity: 1;
    -ms-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg); }
  100% {
    opacity: 0;
    -ms-transform: translateX(100%) rotate(120deg);
    transform: translateX(100%) rotate(120deg); } }
@keyframes zoomIn {
  0% {
    opacity: 0;
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
@keyframes zoomInDown {
  0% {
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0;
    -ms-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0); }
  60% {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1;
    -ms-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0); } }
@keyframes zoomInLeft {
  0% {
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0;
    -ms-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0); }
  60% {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1;
    -ms-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0); } }
@keyframes zoomInRight {
  0% {
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0;
    -ms-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0); }
  60% {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1;
    -ms-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0); } }
@keyframes zoomInUp {
  0% {
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 0;
    -ms-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0); }
  60% {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 1;
    -ms-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0); } }
@keyframes zoomOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0;
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  100% {
    opacity: 0; } }
@keyframes zoomOutDown {
  40% {
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 1;
    -ms-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0); }
  100% {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 0;
    -ms-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    -ms-transform-origin: center bottom;
    transform-origin: center bottom; } }
@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    -ms-transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0); }
  100% {
    opacity: 0;
    -ms-transform: scale(0.1) translate3d(-2000px, 0, 0);
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    -ms-transform-origin: left center;
    transform-origin: left center; } }
@keyframes zoomOutRight {
  40% {
    opacity: 1;
    -ms-transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0); }
  100% {
    opacity: 0;
    -ms-transform: scale(0.1) translate3d(2000px, 0, 0);
    transform: scale(0.1) translate3d(2000px, 0, 0);
    -ms-transform-origin: right center;
    transform-origin: right center; } }
@keyframes zoomOutUp {
  40% {
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    opacity: 1;
    -ms-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0); }
  100% {
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    opacity: 0;
    -ms-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    -ms-transform-origin: center bottom;
    transform-origin: center bottom; } }
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 0px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 30px;
  height: 17px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 3px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -7px; }
  .hamburger-inner::after {
    bottom: -7px; }

/*
 * 3DX
 */
.hamburger--3dx .hamburger-box {
  perspective: 60px; }
.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateY(180deg); }
  .hamburger--3dx.is-active .hamburger-inner::before {
    transform: translate3d(0, 7px, 0) rotate(45deg); }
  .hamburger--3dx.is-active .hamburger-inner::after {
    transform: translate3d(0, -7px, 0) rotate(-45deg); }

/*
 * 3DX Reverse
 */
.hamburger--3dx-r .hamburger-box {
  perspective: 60px; }
.hamburger--3dx-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dx-r .hamburger-inner::before, .hamburger--3dx-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
.hamburger--3dx-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateY(-180deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 7px, 0) rotate(45deg); }
  .hamburger--3dx-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -7px, 0) rotate(-45deg); }

/*
 * 3DY
 */
.hamburger--3dy .hamburger-box {
  perspective: 60px; }
.hamburger--3dy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dy .hamburger-inner::before, .hamburger--3dy .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
.hamburger--3dy.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(-180deg); }
  .hamburger--3dy.is-active .hamburger-inner::before {
    transform: translate3d(0, 7px, 0) rotate(45deg); }
  .hamburger--3dy.is-active .hamburger-inner::after {
    transform: translate3d(0, -7px, 0) rotate(-45deg); }

/*
 * 3DY Reverse
 */
.hamburger--3dy-r .hamburger-box {
  perspective: 60px; }
.hamburger--3dy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dy-r .hamburger-inner::before, .hamburger--3dy-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
.hamburger--3dy-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(180deg); }
  .hamburger--3dy-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 7px, 0) rotate(45deg); }
  .hamburger--3dy-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -7px, 0) rotate(-45deg); }

/*
 * 3DXY
 */
.hamburger--3dxy .hamburger-box {
  perspective: 60px; }
.hamburger--3dxy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dxy .hamburger-inner::before, .hamburger--3dxy .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
.hamburger--3dxy.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(180deg) rotateY(180deg); }
  .hamburger--3dxy.is-active .hamburger-inner::before {
    transform: translate3d(0, 7px, 0) rotate(45deg); }
  .hamburger--3dxy.is-active .hamburger-inner::after {
    transform: translate3d(0, -7px, 0) rotate(-45deg); }

/*
 * 3DXY Reverse
 */
.hamburger--3dxy-r .hamburger-box {
  perspective: 60px; }
.hamburger--3dxy-r .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dxy-r .hamburger-inner::before, .hamburger--3dxy-r .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
.hamburger--3dxy-r.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(180deg) rotateY(180deg) rotateZ(-180deg); }
  .hamburger--3dxy-r.is-active .hamburger-inner::before {
    transform: translate3d(0, 7px, 0) rotate(45deg); }
  .hamburger--3dxy-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -7px, 0) rotate(-45deg); }

/*
 * Arrow
 */
.hamburger--arrow.is-active .hamburger-inner::before {
  transform: translate3d(-6px, 0, 0) rotate(-45deg) scale(0.7, 1); }
.hamburger--arrow.is-active .hamburger-inner::after {
  transform: translate3d(-6px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
 * Arrow Right
 */
.hamburger--arrow-r.is-active .hamburger-inner::before {
  transform: translate3d(6px, 0, 0) rotate(45deg) scale(0.7, 1); }
.hamburger--arrow-r.is-active .hamburger-inner::after {
  transform: translate3d(6px, 0, 0) rotate(-45deg) scale(0.7, 1); }

/*
 * Arrow Alt
 */
.hamburger--arrowalt .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }
.hamburger--arrowalt .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }
.hamburger--arrowalt.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(-6px, -7.5px, 0) rotate(-45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
.hamburger--arrowalt.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(-6px, 7.5px, 0) rotate(45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
 * Arrow Alt Right
 */
.hamburger--arrowalt-r .hamburger-inner::before {
  transition: top 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }
.hamburger--arrowalt-r .hamburger-inner::after {
  transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1); }
.hamburger--arrowalt-r.is-active .hamburger-inner::before {
  top: 0;
  transform: translate3d(6px, -7.5px, 0) rotate(45deg) scale(0.7, 1);
  transition: top 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }
.hamburger--arrowalt-r.is-active .hamburger-inner::after {
  bottom: 0;
  transform: translate3d(6px, 7.5px, 0) rotate(-45deg) scale(0.7, 1);
  transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

/*
 * Arrow Turn
 */
.hamburger--arrowturn.is-active .hamburger-inner {
  -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }
  .hamburger--arrowturn.is-active .hamburger-inner::before {
    transform: translate3d(8px, 0, 0) rotate(45deg) scale(0.7, 1); }
  .hamburger--arrowturn.is-active .hamburger-inner::after {
    transform: translate3d(8px, 0, 0) rotate(-45deg) scale(0.7, 1); }

/*
 * Arrow Turn Right
 */
.hamburger--arrowturn-r.is-active .hamburger-inner {
  -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }
  .hamburger--arrowturn-r.is-active .hamburger-inner::before {
    transform: translate3d(-8px, 0, 0) rotate(-45deg) scale(0.7, 1); }
  .hamburger--arrowturn-r.is-active .hamburger-inner::after {
    transform: translate3d(-8px, 0, 0) rotate(45deg) scale(0.7, 1); }

/*
 * Boring
 */
.hamburger--boring .hamburger-inner, .hamburger--boring .hamburger-inner::before, .hamburger--boring .hamburger-inner::after {
  transition-property: none; }
.hamburger--boring.is-active .hamburger-inner {
  -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
  .hamburger--boring.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--boring.is-active .hamburger-inner::after {
    bottom: 0;
    -ms-transform: rotate(-90deg);
        transform: rotate(-90deg); }

/*
 * Collapse
 */
.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse .hamburger-inner::after {
    top: -14px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -7px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
 * Collapse Reverse
 */
.hamburger--collapse-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--collapse-r .hamburger-inner::after {
    top: -14px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; }
  .hamburger--collapse-r .hamburger-inner::before {
    transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--collapse-r.is-active .hamburger-inner {
  transform: translate3d(0, -7px, 0) rotate(45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--collapse-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; }
  .hamburger--collapse-r.is-active .hamburger-inner::before {
    top: 0;
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
 * Elastic
 */
.hamburger--elastic .hamburger-inner {
  top: 1.5px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic .hamburger-inner::before {
    top: 7px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic .hamburger-inner::after {
    top: 14px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 7px, 0) rotate(135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -14px, 0) rotate(-270deg);
    transition-delay: 0.075s; }

/*
 * Elastic Reverse
 */
.hamburger--elastic-r .hamburger-inner {
  top: 1.5px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .hamburger--elastic-r .hamburger-inner::before {
    top: 7px;
    transition: opacity 0.125s 0.275s ease; }
  .hamburger--elastic-r .hamburger-inner::after {
    top: 14px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
.hamburger--elastic-r.is-active .hamburger-inner {
  transform: translate3d(0, 7px, 0) rotate(-135deg);
  transition-delay: 0.075s; }
  .hamburger--elastic-r.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0; }
  .hamburger--elastic-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -14px, 0) rotate(270deg);
    transition-delay: 0.075s; }

/*
 * Emphatic
 */
.hamburger--emphatic {
  overflow: hidden; }
  .hamburger--emphatic .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic .hamburger-inner::after {
      top: 7px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .hamburger--emphatic.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent; }
    .hamburger--emphatic.is-active .hamburger-inner::before {
      left: -60px;
      top: -60px;
      transform: translate3d(60px, 60px, 0) rotate(45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic.is-active .hamburger-inner::after {
      right: -60px;
      top: -60px;
      transform: translate3d(-60px, 60px, 0) rotate(-45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
 * Emphatic Reverse
 */
.hamburger--emphatic-r {
  overflow: hidden; }
  .hamburger--emphatic-r .hamburger-inner {
    transition: background-color 0.125s 0.175s ease-in; }
    .hamburger--emphatic-r .hamburger-inner::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, left 0.125s 0.175s ease-in; }
    .hamburger--emphatic-r .hamburger-inner::after {
      top: 7px;
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.125s linear, right 0.125s 0.175s ease-in; }
  .hamburger--emphatic-r.is-active .hamburger-inner {
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background-color: transparent; }
    .hamburger--emphatic-r.is-active .hamburger-inner::before {
      left: -60px;
      top: 60px;
      transform: translate3d(60px, -60px, 0) rotate(-45deg);
      transition: left 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .hamburger--emphatic-r.is-active .hamburger-inner::after {
      right: -60px;
      top: 60px;
      transform: translate3d(-60px, -60px, 0) rotate(45deg);
      transition: right 0.125s ease-out, top 0.05s 0.125s linear, transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1); }

/*
 * Minus
 */
.hamburger--minus .hamburger-inner::before, .hamburger--minus .hamburger-inner::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear; }
.hamburger--minus.is-active .hamburger-inner::before, .hamburger--minus.is-active .hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear; }
.hamburger--minus.is-active .hamburger-inner::before {
  top: 0; }
.hamburger--minus.is-active .hamburger-inner::after {
  bottom: 0; }

/*
 * Slider
 */
.hamburger--slider .hamburger-inner {
  top: 1.5px; }
  .hamburger--slider .hamburger-inner::before {
    top: 7px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider .hamburger-inner::after {
    top: 14px; }
.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 7px, 0) rotate(45deg); }
  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-4.28571429px, -4px, 0);
    opacity: 0; }
  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -14px, 0) rotate(-90deg); }

/*
 * Slider Reverse
 */
.hamburger--slider-r .hamburger-inner {
  top: 1.5px; }
  .hamburger--slider-r .hamburger-inner::before {
    top: 7px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider-r .hamburger-inner::after {
    top: 14px; }
.hamburger--slider-r.is-active .hamburger-inner {
  transform: translate3d(0, 7px, 0) rotate(-45deg); }
  .hamburger--slider-r.is-active .hamburger-inner::before {
    transform: rotate(45deg) translate3d(4.28571429px, -4px, 0);
    opacity: 0; }
  .hamburger--slider-r.is-active .hamburger-inner::after {
    transform: translate3d(0, -14px, 0) rotate(90deg); }

/*
 * Spin
 */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--spin.is-active .hamburger-inner {
  -ms-transform: rotate(225deg);
      transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
 * Spin Reverse
 */
.hamburger--spin-r .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin-r .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin-r .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--spin-r.is-active .hamburger-inner {
  -ms-transform: rotate(-225deg);
      transform: rotate(-225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin-r.is-active .hamburger-inner::after {
    bottom: 0;
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
 * Spring
 */
.hamburger--spring .hamburger-inner {
  top: 1.5px;
  transition: background-color 0s 0.13s linear; }
  .hamburger--spring .hamburger-inner::before {
    top: 7px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring .hamburger-inner::after {
    top: 14px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent; }
  .hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 7px, 0) rotate(45deg); }
  .hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 7px, 0) rotate(-45deg); }

/*
 * Spring Reverse
 */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring-r .hamburger-inner::after {
    top: -14px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear; }
  .hamburger--spring-r .hamburger-inner::before {
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--spring-r.is-active .hamburger-inner {
  transform: translate3d(0, -7px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spring-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear; }
  .hamburger--spring-r.is-active .hamburger-inner::before {
    top: 0;
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
 * Stand
 */
.hamburger--stand .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
  .hamburger--stand .hamburger-inner::before {
    transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand .hamburger-inner::after {
    transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--stand.is-active .hamburger-inner {
  -ms-transform: rotate(90deg);
      transform: rotate(90deg);
  background-color: transparent;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
  .hamburger--stand.is-active .hamburger-inner::before {
    top: 0;
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand.is-active .hamburger-inner::after {
    bottom: 0;
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
 * Stand Reverse
 */
.hamburger--stand-r .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), background-color 0s 0.075s linear; }
  .hamburger--stand-r .hamburger-inner::before {
    transition: top 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--stand-r .hamburger-inner::after {
    transition: bottom 0.075s 0.075s ease-in, transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--stand-r.is-active .hamburger-inner {
  -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
  background-color: transparent;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0s 0.15s linear; }
  .hamburger--stand-r.is-active .hamburger-inner::before {
    top: 0;
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    transition: top 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--stand-r.is-active .hamburger-inner::after {
    bottom: 0;
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    transition: bottom 0.075s 0.1s ease-out, transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
 * Squeeze
 */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--squeeze.is-active .hamburger-inner {
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
 * Vortex
 */
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex .hamburger-inner::before, .hamburger--vortex .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .hamburger--vortex .hamburger-inner::before {
    transition-property: top, opacity; }
  .hamburger--vortex .hamburger-inner::after {
    transition-property: bottom, transform; }
.hamburger--vortex.is-active .hamburger-inner {
  -ms-transform: rotate(765deg);
      transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex.is-active .hamburger-inner::before, .hamburger--vortex.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  .hamburger--vortex.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--vortex.is-active .hamburger-inner::after {
    bottom: 0;
    -ms-transform: rotate(90deg);
        transform: rotate(90deg); }

/*
 * Vortex Reverse
 */
.hamburger--vortex-r .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r .hamburger-inner::before, .hamburger--vortex-r .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .hamburger--vortex-r .hamburger-inner::before {
    transition-property: top, opacity; }
  .hamburger--vortex-r .hamburger-inner::after {
    transition-property: bottom, transform; }
.hamburger--vortex-r.is-active .hamburger-inner {
  -ms-transform: rotate(-765deg);
      transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r.is-active .hamburger-inner::before, .hamburger--vortex-r.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  .hamburger--vortex-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--vortex-r.is-active .hamburger-inner::after {
    bottom: 0;
    -ms-transform: rotate(-90deg);
        transform: rotate(-90deg); }

/*------------------------------------------------------------------------------------------------------------*\
    $CONTENIDO
\*------------------------------------------------------------------------------------------------------------*/
/**

 * Contenido..................... Esto que lees

 * Settings...................... Configuramos todas las variables del framework

 * Mixins........................ Mixins de SASS

 * Placeholders.................. Clases de ayuda

 * Reset......................... Reinicio de valores CSS

 * Fuentes....................... Fuentes propias

 * Links......................... Formas y estilos de los links

 * Tablas........................ Estilos de las tablas

 * Botones....................... Estilos de Botones, skins y variantes

 * Elementos..................... Elementos varios como Imagen, HR, etc...

 * Tipografía.................... Encabezados, small, párrafos, listas, etc...

 * Navegación.................... Una navegación, por si quieres usar esta y no la tuya propia

 * Formularios................... Estilos de todos los elementos de formularios y sus variantes

 * Sitio......................... Aquí escribes tus estilos para la web se vea como tu quieres ;)

 * Paginación.................... Estilos básicos para las paginaciones

 * Texturas...................... Badges, cajas y wells

 */
/*------------------------------------------------------------------------------------------------------------*\
    $RESET
\*------------------------------------------------------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
main,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

* {
  box-sizing: border-box; }
  *::before, *::after {
    box-sizing: border-box; }

img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

a {
  display: block;
  outline: 0;
  transition: all .3s ease-in-out; }

@font-face {
  font-family: "fonticon";
  src: url("../files/fonts/fonticon.eot");
  src: url("../files/fonts/fonticon.eot?#iefix") format("eot"), url("../files/fonts/fonticon.woff") format("woff"), url("../files/fonts/fonticon.ttf") format("truetype"), url("../files/fonts/fonticon.svg#fonticon") format("svg");
  font-weight: normal;
  font-style: normal; }
.fi {
  display: inline-block;
  font-family: "fonticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: inherit;
  text-rendering: auto;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fi--android:before {
  content: ""; }

.fi--apple:before {
  content: ""; }

.fi--back:before {
  content: ""; }

.fi--codepen:before {
  content: ""; }

.fi--dropbox:before {
  content: ""; }

.fi--email:before {
  content: ""; }

.fi--facebook:before {
  content: ""; }

.fi--github:before {
  content: ""; }

.fi--instagram:before {
  content: ""; }

.fi--linkedin:before {
  content: ""; }

.fi--pinterest:before {
  content: ""; }

.fi--skype:before {
  content: ""; }

.fi--twitter:before {
  content: ""; }

.fi--whatsapp:before {
  content: ""; }

.fi--windows:before {
  content: ""; }

.fi--youtube:before {
  content: ""; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*------------------------------------------------------------------------------------------------------------*\
    $ELEMENTOS - FIGURE
\*------------------------------------------------------------------------------------------------------------*/
figure {
  margin-bottom: 1.2em; }
  figure img {
    margin-bottom: 3.625; }
  figure figcaption {
    display: block;
    font-weight: normal;
    font-style: italic;
    color: gray;
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.03571429;
    margin-bottom: 0; }

/*------------------------------------------------------------------------------------------------------------*\
    $IMÁGENES
\*------------------------------------------------------------------------------------------------------------*/
.img--rounded {
  border-radius: 8px; }

.img--polaroid {
  padding: 12px;
  background-color: white;
  border: 1px solid #bfbfbf;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }

.img--circle {
  border-radius: 100%; }

.icon {
  background: url(../images/sprite.svg) no-repeat; }

.icon--home {
  background-position: 0 0; }

.icon--home-size {
  width: 45px;
  height: 45px; }

.icon--user {
  background-position: 100% 0; }

.icon--user-size {
  width: 45px;
  height: 45px; }

/*------------------------------------------------------------------------------------------------------------*\
    $PAGINACION
\*------------------------------------------------------------------------------------------------------------*/
/*  Paginación básica

    Requiere algunos comentarios para evitar el espacio causado por `display:inline-block;`

    <ol class="nav  pagination">
        <li class="pagination__first"><a href="/page/first">First</a></li>
        <li class="pagination__prev"><a href="/page/previous">Previous</a></li>
        <li><a href="/page/1">1</a></li>
        <li><a href="/page/2">2</a></li>
        <li><a href="/page/3">3</a></li>
        <li><a href="/page/4">4</a></li>
        <li><a href="/page/5">5</a></li>
        <li><a href="/page/6">6</a></li>
        <li class="pagination__next"><a href="/page/next">Next</a></li>
        <li class="pagination__last"><a href="/page/last">Last</a></li>
    </ol>

 */
.pagination {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0; }
  .pagination > li {
    display: inline-block;
    padding: 0;
    letter-spacing: normal;
    word-spacing: normal;
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.03571429;
    margin-bottom: 0; }
    .pagination > li > a {
      padding: .5em 1em; }
  .pagination .pagination__first a:before {
    content: "\00AB" "\00A0"; }
  .pagination .pagination__last a:after {
    content: "\00A0" "\00BB"; }

/*------------------------------------------------------------------------------------------------------------*\
    $TABLAS
\*------------------------------------------------------------------------------------------------------------*/
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 14.5;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent; }
  table th,
  table td {
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #a6a6a6;
    line-height: 14.5;
    text-align: left;
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.03571429;
    margin-bottom: 14.5px;
    margin-bottom: 1.03571429rem; }
  table th {
    font-weight: bold; }
  table thead th {
    vertical-align: bottom; }
  table colgroup + thead tr:first-child th,
  table colgroup + thead tr:first-child td,
  table thead:first-child tr:first-child th,
  table thead:first-child tr:first-child td {
    border-top: 0; }
  table tbody + tbody {
    border-top: 2px solid #a6a6a6; }
  table tbody tr td,
  table tbody tr th {
    transition: background-color .25s 0 linear; }
  table tbody tr:hover td,
  table tbody tr:hover th {
    background-color: white; }

.table-condensed th,
.table-condensed td {
  padding: 4px 5px; }

.table-bordered {
  border: 1px solid #a6a6a6;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed; }
  .table-bordered th,
  .table-bordered td {
    border-left: 1px solid #a6a6a6; }
  .table-bordered thead:first-child tr:first-child th,
  .table-bordered tbody:first-child tr:first-child th,
  .table-bordered tbody:first-child tr:first-child td {
    border-top: 0; }

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #999999; }

/*
Theme Name: Twenty Seventeen
Description: Used to style the TinyMCE editor.
*/
/**
 * Table of Contents:
 *
 * 1.0 - Body
 * 2.0 - Typography
 * 3.0 - Elements
 * 4.0 - Alignment
 * 5.0 - Caption
 * 6.0 - Galleries
 * 7.0 - Media Elements
 * 8.0 - RTL
 */
/**
 * 1.0 - Body
 */
/*body {
	background-color: #fff;
	color: #333;
	margin: 20px 40px;
	max-width: 580px;
}*/
/**
 * 2.0 - Typography
 */
/*body,
button,
input,
select,
textarea {
	font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.66;
}*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.75em; }

p {
  margin: 0 0 1.5em;
  padding: 0; }

p:last-child {
  margin: 0; }

dfn,
cite,
em,
i {
  font-style: italic; }

blockquote {
  color: #666;
  font-size: 18px;
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.7;
  margin: 0;
  overflow: hidden;
  padding: 0; }

blockquote.alignleft,
blockquote.alignright {
  font-size: 14px;
  font-size: 0.875rem;
  width: 34%; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark,
ins {
  background: #eee;
  text-decoration: none; }

big {
  font-size: 125%; }

blockquote,
q {
  quotes: "" ""; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

/* Typography for Thai Font */
html[lang="th"] h1,
html[lang="th"] h2,
html[lang="th"] h3,
html[lang="th"] h4,
html[lang="th"] h5,
html[lang="th"] h6 {
  letter-spacing: 0;
  line-height: 1.65; }

html[lang="th"] body,
html[lang="th"] button,
html[lang="th"] input,
html[lang="th"] select,
html[lang="th"] textarea {
  line-height: 1.8; }

/**
 * 3.0 - Elements
 */
/*hr {
	background-color: #bbb;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em;
	padding: 0;
}

ul {
	list-style: disc;
}

ol {
	counter-reset: item;
}

ol li {
	display: block;
	position: relative;
}

ol li:before {
	content: counter(item);
	counter-increment: item;
	font-weight: 800;
	left: -1.5em;
	position: absolute;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

table {
	border-collapse: collapse;
	margin: 0 0 1.5em;
	width: 100%;
}

thead th {
	border-bottom: 2px solid #bbb;
	padding-bottom: 0.5em;
}

th {
	padding: 0.4em;
	text-align: left;
}

tr {
	border-bottom: 1px solid #eee;
}

td {
	padding: 0.4em;
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	padding-right: 0;
}

a {
	-webkit-box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
	box-shadow: inset 0 -1px 0 rgba(15, 15, 15, 1);
	color: #222;
	text-decoration: none;
	-webkit-transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, -webkit-box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, box-shadow 130ms ease-in-out;
	transition: color 80ms ease-in, box-shadow 130ms ease-in-out, -webkit-box-shadow 130ms ease-in-out;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:focus {
	color: #000;
	-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 3px 0 rgba(0, 0, 0, 1);
	box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 3px 0 rgba(0, 0, 0, 1);
}

/* Fixes linked images */
/*a img {
	background: #fff;
	-webkit-box-shadow: 0 0 0 6px #fff;
	box-shadow: 0 0 0 6px #fff;
}*/
/**
 * 4.0 - Alignment
 */
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  width: inherit;
  /* Make images fill their parent's space. Solves IE8. */
  max-width: 100%;
  /* Adhere to container width. */ }

embed,
iframe,
object {
  margin-bottom: 1.5em;
  max-width: 100%; }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/**
 * 5.0 - Caption
 */
.wp-caption {
  color: #666;
  font-size: 13px;
  font-size: 0.8125rem;
  font-style: italic;
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

/**
 * 6.0 - Galleries
 */
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-item a,
.gallery-item a:hover,
.gallery-item a:focus {
  box-shadow: none;
  background: none;
  display: inline-block; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block; }

/**
 * 7.0 - Media Elements
 */
.mejs-container {
  margin-bottom: 1.5em; }

/* Audio Player */
.mejs-controls a.mejs-horizontal-volume-slider,
.mejs-controls a.mejs-horizontal-volume-slider:focus,
.mejs-controls a.mejs-horizontal-volume-slider:hover {
  background: transparent;
  border: 0; }

/* Playlist Color Overrides: Light */
.wp-playlist-light {
  border-color: #eee;
  color: #222; }

.wp-playlist-light .wp-playlist-current-item .wp-playlist-item-album {
  color: #333; }

.wp-playlist-light .wp-playlist-current-item .wp-playlist-item-artist {
  color: #767676; }

.wp-playlist-light .wp-playlist-item {
  border-bottom: 1px dotted #eee;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out; }

.wp-playlist-light .wp-playlist-item:hover,
.wp-playlist-light .wp-playlist-item:focus {
  border-bottom-color: transparent;
  background-color: #767676;
  color: #fff; }

.wp-playlist-light a.wp-playlist-caption:hover,
.wp-playlist-light .wp-playlist-item:hover a,
.wp-playlist-light .wp-playlist-item:focus a {
  color: #fff; }

/* Playlist Color Overrides: Dark */
.wp-playlist-dark {
  background: #222;
  border-color: #333; }

.wp-playlist-dark .mejs-container .mejs-controls {
  background-color: #333; }

.wp-playlist-dark .wp-playlist-caption {
  color: #fff; }

.wp-playlist-dark .wp-playlist-current-item .wp-playlist-item-album {
  color: #eee; }

.wp-playlist-dark .wp-playlist-current-item .wp-playlist-item-artist {
  color: #aaa; }

.wp-playlist-dark .wp-playlist-playing {
  background-color: #333; }

.wp-playlist-dark .wp-playlist-item {
  border-bottom: 1px dotted #555;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out; }

.wp-playlist-dark .wp-playlist-item:hover,
.wp-playlist-dark .wp-playlist-item:focus {
  border-bottom-color: transparent;
  background-color: #aaa;
  color: #222; }

.wp-playlist-dark a.wp-playlist-caption:hover,
.wp-playlist-dark .wp-playlist-item:hover a,
.wp-playlist-dark .wp-playlist-item:focus a {
  color: #222; }

/* Playlist Style Overrides */
.wp-playlist {
  padding: 0.625em 0.625em 0.3125em; }

.wp-playlist-current-item .wp-playlist-item-title {
  font-weight: 700; }

.wp-playlist-current-item .wp-playlist-item-album {
  font-style: normal; }

.wp-playlist-current-item .wp-playlist-item-artist {
  font-size: 10px;
  font-size: 0.625rem;
  font-weight: 800;
  letter-spacing: 0.1818em;
  text-transform: uppercase; }

.wp-playlist-item {
  padding: 0 0.3125em;
  cursor: pointer; }

.wp-playlist-item:last-of-type {
  border-bottom: none; }

.wp-playlist-item a {
  padding: 0.3125em 0;
  border-bottom: none; }

.wp-playlist-item a,
.wp-playlist-item a:focus,
.wp-playlist-item a:hover {
  box-shadow: none;
  background: transparent; }

.wp-playlist-item-length {
  top: 5px; }

/**
 * 8.0 - RTL
 */
.rtl th {
  text-align: right; }

.rtl ol {
  counter-reset: item; }

.rtl ol li:before {
  left: auto;
  right: -1.5em; }

.rtl li > ul,
.rtl li > ol {
  margin-left: 0;
  margin-right: 1.5em; }

.rtl .mejs-offscreen {
  right: -10000px; }

.wpcf7 .wpcf7-form-control-wrap {
  display: block;
  width: 100%; }

.wpcf7 input.wpcf7-not-valid, .wpcf7 select.wpcf7-not-valid, .wpcf7 .styled-select.wpcf7-not-valid {
  border-color: #f21a31 !important; }

.wpcf7 .wpcf7-form-control-wrap:nth-child(2n) .wpcf7-not-valid-tip {
  left: 10px !important; }

.wpcf7 .wpcf7-form-control-wrap .wpcf7-not-valid-tip {
  display: none;
  position: absolute;
  left: 0px !important;
  background: #d1525d !important;
  font-size: 11px !important;
  bottom: -30px !important;
  color: #000 !important;
  margin-top: 0px !important; }

.wpcf7 .wpcf7-response-output {
  display: none !important; }

.wpcf7 .wpcf7-response-output.wpcf7-mail-sent-ok {
  background-color: #049ede !important;
  color: #fff !important;
  display: block !important; }

.wpcf7 .wpcf7-response-output.wpcf7-validation-errors, .wpcf7 .wpcf7-response-output.wpcf7-mail-sent-ng {
  display: block !important;
  border: 2px solid #ff0000 !important;
  background: none !important;
  color: #000000 !important; }

.wpcf7 input {
  background-color: #fff !important;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid;
  border-color: #000;
  margin-bottom: 20px;
  display: inherit;
  width: 100%;
  padding: 4px; }

.wpcf7 input.mitad {
  width: calc(50% - 5px) !important;
  display: inherit; }

.wpcf7 input.wpcf7-tel {
  width: 100%; }

.wpcf7 input.wpcf7-submit {
  display: none !important; }

.wpcf7 input.wpcf7-captchar {
  width: 100px; }

.wpcf7 select, .wpcf7 textarea {
  width: 100% !important;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid;
  border-color: #000; }

.wpcf7 textarea {
  font-family: "Open Sans", sans-serif;
  margin-top: -8px;
  padding: 8px 4px 0;
  width: 100%;
  max-height: 161px;
  overflow: hidden;
  resize: none;
  line-height: 40px;
  background: linear-gradient(180deg, white 40px, #333333 41px, white 41px, white 80px, #333333 81px, white 81px, white 120px, #333333 121px, white 121px, white 160px, #333333 161px);
  background-repeat: repeat-y, repeat;
  resize: none;
  margin-bottom: 20px; }

.wpcf7 select {
  border: 1px solid;
  margin-bottom: 20px;
  padding: 4px 0; }

.wpcf7 button {
  margin: 0px;
  width: 100%;
  border: 1px solid red;
  border-radius: 0;
  background: red;
  color: white;
  font-size: 21px;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  padding-right: 100px;
  position: relative; }

.wpcf7 button:after {
  content: '';
  background: white;
  height: 1px;
  width: 80px;
  position: absolute;
  display: block;
  right: 20px;
  top: 22px;
  transition: all 0.5s ease-in-out; }

.wpcf7 button:hover, .wpcf7 button:focus {
  background: white;
  color: red; }

.wpcf7 button:hover:after, .wpcf7 button:focus:after {
  background: red; }

.squaredFour {
  width: 20px;
  position: relative;
  display: inline-block !important;
  vertical-align: top;
  width: auto !important; }

.squaredFour + p {
  font-size: 14px;
  color: #b6b6b6;
  max-width: 200px; }

.squaredFour + p a {
  display: inline;
  color: #b6b6b6; }

.squaredFour label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border: 1px solid;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  margin-left: 0px; }

.squaredFour label:after {
  content: '';
  width: 18px;
  height: 8px;
  position: absolute;
  top: 0px;
  left: 4px;
  border: 1px solid #333;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.squaredFour label:hover::after {
  opacity: 0.5; }

.squaredFour input[type=checkbox] {
  visibility: hidden; }

.squaredFour input[type=checkbox]:checked + label:after {
  opacity: 1; }

.md-content .squaredFour {
  width: 100%; }

.md-content .squaredFour {
  padding-left: 20px; }

.wpcf7-form select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box; }

.wpcf7-form select, .wpcf7-form select:hover {
  /* background set copied from foundation.css */
  background-color: white;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: 100% center;
  background-repeat: no-repeat;
  border: 0;
  border-bottom: 1px solid; }

.wpcf7-form .inline {
  display: inline-block;
  vertical-align: top; }

.wpcf7-form .submit {
  float: right; }
  @media (max-width: 32.5em) {
    .wpcf7-form .submit {
      float: none;
      display: block; } }

/*------------------------------------------------------------------------------------------------------------*\
    $SITIO
\*------------------------------------------------------------------------------------------------------------*/
@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
html {
  background: white;
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-size: 14px; }

/**
* A partir de aquí es donde debes escribir los estilos de posicionamiento
* y detalles que forman tu web. Disfruta!
*/
/*------------------------------------------------------------------------------------------------------------*\
    $GENERAL
\*------------------------------------------------------------------------------------------------------------*/
html,
body {
  background-color: #f8f8f8; }

.wrapper, .main, .header {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1920px; }

.main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .main .content {
    width: calc(75% - 10px);
    padding: 20px;
    background-color: #f3f3f3; }
  .main .sidebar {
    width: calc(25% - 10px);
    background-color: #cdcdcd; }

/*------------------------------------------------------------------------------------------------------------*\
    $HEADER
\*------------------------------------------------------------------------------------------------------------*/
.header {
  text-align: center; }

/*------------------------------------------------------------------------------------------------------------*\
    $MENÚ
\*------------------------------------------------------------------------------------------------------------*/
.menu {
  position: relative;
  margin: 20px 0; }
  .menu__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #bfbfbf; }
    .menu__list li {
      list-style: none;
      margin: 0 10px;
      padding: 0; }
      .menu__list li a {
        display: block;
        padding: 5px 10px;
        color: #333333;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; }
      .menu__list li:hover > .submenu, .menu__list li:focus > .submenu {
        max-height: 100%; }
      .menu__list li:hover a, .menu__list li:focus a {
        color: white;
        background-color: #999999;
        text-decoration: none; }

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: auto;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
  overflow: hidden; }
  .submenu:hover, .submenu:focus {
    overflow: visible; }
  .submenu--1 {
    background-color: #999999; }
    .submenu--1 li:hover a, .submenu--1 li:focus a {
      background-color: #666666; }
  .submenu--2 {
    background-color: #666666; }

/*------------------------------------------------------------------------------------------------------------*\
    $MAIN
\*------------------------------------------------------------------------------------------------------------*/
.main h1 {
  font-size: 26px; }
.main h2.noresults {
  font-style: italic;
  color: #cccccc;
  font-size: 24px; }
.main .results .result {
  margin-bottom: 20px;
  background-color: white; }
  .main .results .result .info {
    padding: 20px; }
    .main .results .result .info h2 {
      font-size: 22px; }
      .main .results .result .info h2 a {
        color: #333333; }
        .main .results .result .info h2 a:hover, .main .results .result .info h2 a:focus {
          color: red; }
    .main .results .result .info .resume a.read-more {
      display: block;
      margin-top: 20px;
      padding: 5px 0;
      max-width: 120px;
      color: red; }
  .main .results .result--foto {
    display: -ms-flexbox;
    display: flex; }
    .main .results .result--foto .foto {
      width: 25%; }
    .main .results .result--foto .info {
      width: 75%; }
.main .author {
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  border: 3px dashed black; }
  .main .author__avatar {
    width: 20%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
  .main .author__info {
    width: 80%;
    padding: 20px; }
    .main .author__info h3.name {
      font-size: 20px; }
    .main .author__info .bio {
      font-size: 14px; }
    .main .author__info a.link {
      text-transform: uppercase;
      font-size: 12px; }
.main .pagination {
  margin-top: 40px; }

/*------------------------------------------------------------------------------------------------------------*\
    $SIDEBAR
\*------------------------------------------------------------------------------------------------------------*/
.sidebar {
  padding: 20px; }
  .sidebar .widget {
    margin-bottom: 40px; }
    .sidebar .widget h6 {
      text-transform: uppercase;
      font-size: 22px; }
    .sidebar .widget .form--search {
      margin: 0;
      position: relative;
      height: 40px;
      display: -ms-flexbox;
      display: flex; }
      .sidebar .widget .form--search label .screen-reader-text {
        display: none; }
      .sidebar .widget .form--search label,
      .sidebar .widget .form--search button.btn--submit {
        margin: 0;
        height: 100%; }
      .sidebar .widget .form--search input[type=search] {
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        height: 100%;
        padding: 5px 10px;
        border: none;
        border-radius: 0;
        font-size: 14px;
        margin-bottom: 0; }
      .sidebar .widget .form--search button.btn--submit {
        cursor: pointer;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        border: none;
        padding: 0 10px;
        color: white;
        background-color: #333333;
        text-transform: uppercase;
        border-radius: 0;
        font-size: 10px;
        margin-bottom: 0; }
    .sidebar .widget .tagcloud a {
      color: #333333; }
      .sidebar .widget .tagcloud a:hover, .sidebar .widget .tagcloud a:focus {
        color: red; }
    .sidebar .widget ul {
      margin: 0;
      padding: 0 0 0 20px; }
      .sidebar .widget ul li {
        margin-bottom: 5px; }
        .sidebar .widget ul li a {
          color: #333333; }
          .sidebar .widget ul li a:hover, .sidebar .widget ul li a:focus {
            color: red; }
        .sidebar .widget ul li .post-date {
          display: block;
          font-size: 12px;
          margin-bottom: 0; }

/*------------------------------------------------------------------------------------------------------------*\
    $FOOTER
\*------------------------------------------------------------------------------------------------------------*/
.footer {
  margin-top: 20px;
  color: #dddddd;
  background-color: #444444; }
  .footer > .wrapper, .footer > .main, .footer > .header {
    padding: 10px 0; }

/*------------------------------------------------------------------------------------------------------------*\
    $SINGLE
\*------------------------------------------------------------------------------------------------------------*/
.single__portada {
  margin-bottom: 20px; }
.single__content {
  padding-right: 40px; }

/*------------------------------------------------------------------------------------------------------------*\
    ANIMATIONS
\*------------------------------------------------------------------------------------------------------------*/
@keyframes fade {
  40% {
    opacity: .8; }
  42% {
    opacity: .1; }
  43% {
    opacity: .8; }
  45% {
    opacity: .1; }
  46% {
    opacity: .8; } }
@keyframes blink {
  70% {
    opacity: .7; } }
