@if $incluir-fonticons == true {



@font-face {
	font-family : "<%= fontName %>";
	src         : url('<%= fontPath %><%= fontName %>.eot');
	src         : url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
				  url('<%= fontPath %><%= fontName %>.woff') format('woff'),
				  url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
				  url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg');
	font-weight : normal;
	font-style  : normal;
}

.fi {
	display                 : inline-block;
	font-family             : "<%= fontName %>";
	font-style              : normal;
	font-weight             : normal;
	font-variant            : normal;
	text-transform          : none;
	//line-height             : inherit;
	text-decoration         : inherit;
	text-rendering          : auto;
	speak                   : none;
	-webkit-font-smoothing  : antialiased;
	-moz-osx-font-smoothing : grayscale;
}

$icons: (
	<%= glyphs.map(function(glyph){ return glyph.name + ': "' + '\\' + glyph.unicode[0].charCodeAt(0).toString(16).toUpperCase() + '"' }).join(',\n  ') %>
);

@each $name, $icon in $icons {
	.<%= className %>-#{$name}:before {
		//@extend .fi;
		content: $icon;
	}
}




} // endif
