@if $incluir-fuentes == false {


/*------------------------------------------------------------------------------------------------------------*\
    $FUENTES
\*------------------------------------------------------------------------------------------------------------*/


// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

// @font-face {
//     font-family: 'nombre__fuente';
//     src: url($dir-fonts + 'nombre_fuente.eot');
//     src: url($dir-fonts + 'nombre_fuente.eot?#iefix') format('embedded-opentype'),
//          url($dir-fonts + 'nombre_fuente.woff2') format('woff2'),
//          url($dir-fonts + 'nombre_fuente.woff') format('woff'),
//          url($dir-fonts + 'nombre_fuente.ttf') format('truetype'),
//          url($dir-fonts + 'nombre_fuente.svg#nombre__fuente') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

} // endif
