/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-spain-flag-name: 'sprite_spain_flag';
$sprite-spain-flag-x: 0px;
$sprite-spain-flag-y: 0px;
$sprite-spain-flag-offset-x: 0px;
$sprite-spain-flag-offset-y: 0px;
$sprite-spain-flag-width: 24px;
$sprite-spain-flag-height: 24px;
$sprite-spain-flag-total-width: 48px;
$sprite-spain-flag-total-height: 24px;
$sprite-spain-flag-image: '../images/sprite-png.png';
$sprite-spain-flag: (0px, 0px, 0px, 0px, 24px, 24px, 48px, 24px, '../images/sprite-png.png', 'sprite_spain_flag', );
$sprite-united-kingdom-flag-name: 'sprite_united-kingdom_flag';
$sprite-united-kingdom-flag-x: 24px;
$sprite-united-kingdom-flag-y: 0px;
$sprite-united-kingdom-flag-offset-x: -24px;
$sprite-united-kingdom-flag-offset-y: 0px;
$sprite-united-kingdom-flag-width: 24px;
$sprite-united-kingdom-flag-height: 24px;
$sprite-united-kingdom-flag-total-width: 48px;
$sprite-united-kingdom-flag-total-height: 24px;
$sprite-united-kingdom-flag-image: '../images/sprite-png.png';
$sprite-united-kingdom-flag: (24px, 0px, -24px, 0px, 24px, 24px, 48px, 24px, '../images/sprite-png.png', 'sprite_united-kingdom_flag', );
$spritesheet-width: 48px;
$spritesheet-height: 24px;
$spritesheet-image: '../images/sprite-png.png';
$spritesheet-sprites: ($sprite-spain-flag, $sprite-united-kingdom-flag, );
$spritesheet: (48px, 24px, '../images/sprite-png.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
