{# Plantilla base #}
{% extends "layout.twig" %}

{# Contenido de la página #}
{% block page %}

    <h1>{{ title }}</h1>

    {% if (has_posts) %}
        <section class="results">
            {% for post in posts %}
                {% include 'partials/post-result.twig' %}
            {% endfor %}
        </section>
    {% else %}
        <h2 class="noresults">{{ __('No se han encontrado resultados', constant('THEME_NAME')) }}</h2>
    {% endif %}

    {% include 'partials/pagination.twig' %}

{% endblock page %}