<!DOCTYPE html>
<html lang="{{ site.language_attributes }}" class="{{ class_html }}">
	<head>
		<meta charset="{{ site.charset }}">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{# <link rel="icon" href="{{ asset('img', 'favicon', 'ico', 'favicons') }}" /> #}

		{# Estilos CSS (de terceros) #}
		{% if css_vendor %}
			{% for css_file_vendor in css_vendor %}
				<link rel="stylesheet" href="{{ constant('DIR_CSS_VENDOR') ~ css_file_vendor }}">
			{% endfor %}
		{% endif %}

		{# Estilos CSS (principal) #}
		{# <link rel="stylesheet" href="{{ constant('DIR_CSS_ABS') ~ 'style.min.css' }}" /> #}


        {# Scripts #}
		{% if js_vendor_head %}
			{% for js_vendor_src, js_vendor_file in js_vendor_head %}
				{# <script src="{{ asset('js', js_vendor_file, '', js_vendor_src) }}"></script> #}
			{% endfor %}
		{% endif %}

    	{# Variables JavaScript #}
    	<script>
			var base_url = "{{ constant('BASE_URL') }}";
			var ajax_url = "{{ constant('AJAX_URL') }}";
	    	{% if js_vars %}
				{% for var_name,var_val in js_vars %}
					/*var {{ var_name }} = '{{ var_val }}';*/
				{% endfor %}
			{% endif %}
		</script>

		{# METAS #}
		{# <title>{{ wp_title }}</title>
		<meta name="description" content="{{ (page._yoast_wpseo_metadesc) ? page._yoast_wpseo_metadesc : page.content | excerpt('40') }}" /> #}

		{# WP_HEAD de Wordpress #}
		<!-- *********************************************************************************** -->
		{{ wp_head }}
		<!-- *********************************************************************************** -->


	</head>
	<body class="{{ class_body }}">
		{# Google Analytics #}
		{# {% include 'partials/analyticstracking.twig' %} #}

		{# Header #}
		{% include "partials/header.twig" %}

		{# Contenido de la página #}
		<main id="main" class="main" role="main">
			<section class="content">
				{% block page %}{% endblock page %}
			</section>
			<aside class="sidebar">
				{{ general_sidebar }}
			</aside>
		</main>

		{# Footer #}
		{% include "partials/footer.twig" %}

		{# WP_FOOTER de Wordpress #}
		<!-- *********************************************************************************** -->
		{{ wp_footer }}
		<!-- *********************************************************************************** -->

		{# SCRIPTS #}
		<script src="{{ constant('DIR_JS_VENDOR') ~ 'basic.min.js' }}"></script>
		<script src="{{ constant('DIR_JS_ABS') ~ 'plugins.min.js' }}"></script>

		{% if js_vendor %}
			{% for js_file_vendor in js_vendor %}
				<script src="{{ constant('DIR_JS_VENDOR') ~ js_file_vendor }}"></script>
			{% endfor %}
		{% endif %}

		<script src="{{ constant('DIR_JS_ABS') ~ 'common.min.js' }}"></script>

		{% if js_extra %}
			{% for js_file in js_extra %}
				<script src="{{ constant('DIR_JS_ABS') ~ js_file }}"></script>
			{% endfor %}
		{% endif %}

	</body>
</html>
