{# Plantilla base #}
{% extends "layout.twig" %}

{# Contenido de la página #}
{% block page %}

    <article class="single">

        {% if (post.get_thumbnail) %}
            <div class="single__portada">
                <img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.caption }}" />
            </div>
        {% endif %}

        <h1>{{ post.title }}</h1>

        <div class="single__content">{{ post.content }}</div>

        {% include 'partials/author-info.twig' %}

    </article>

{% endblock page %}