




/*------------------------------------------------------------------------------------------------------------*\
    $PLACEHOLDERS
\*------------------------------------------------------------------------------------------------------------*/

// Clear floats
%clearfix {
    &:after{
        content : "";
        display : table;
        clear   : both;
    }
}

// Text overflow
%text-overflow {
    overflow      : hidden;
    text-overflow : ellipsis;
    white-space   : nowrap;
}

// Vertical center
%vcenter {
	&:before {
        content        : '';
        display        : inline-block;
        height         : 100%;
        vertical-align : middle;
	}
}

// Escondemos el texto solo VISUALMENTE
%hide-text {
    text-indent : 100%;
    white-space : nowrap;
    overflow    : hidden;
}

// Escondemos el texto de VISUALMENTE y SCREENREADERS
%hidden {
    display    : none !important;
    visibility : hidden;
}

// Escondemos pero mantenemos layout.
%invisible {
	visibility : hidden;
}

//Visualmente escondido, pero se puede detectar con teclado (focus).
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    position : static;
    clip     : auto;
    height   : auto;
    width    : auto;
    margin   : 0;
    overflow : visible;
}
