/*------------------------------------------------------------------------------------------------------------*\
    $SETTINGS
\*------------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------------------------------------*\
    $OBJETOS Y ABSTRACCIONES
    ¿Qué objetos y abstracciones vamos a usar?
    (
        true: se usa,
        false: no se usa
    )
\*------------------------------------------------------------------------------------------------------------*/

// Base
$incluir-reset       : true!default;
$incluir-fuentes     : true!default;
$incluir-fonticons   : true!default;

// Elementos
$incluir-figure      : true!default;
$incluir-formularios : true!default;
$incluir-imagenes    : true!default;
$incluir-links       : false!default;
$incluir-tipografia  : false!default;

// Abstracciones
$incluir-botones     : false!default;
$incluir-paginacion  : true!default;
$incluir-tablas      : true!default;
$incluir-texturas    : false!default;

// Layout
$incluir-navegacion  : false!default;

// Debug
$incluir-debug       : false!default;





/**
 *
 * Definimos y configuramos las variables CSS que vamos a utilizar
 *
 */


/*------------------------------------------------------------------------------------------------------------*\
    $BREAKPOINTS
\*------------------------------------------------------------------------------------------------------------*/

/* Lo usamos con el mixin respond-to($breakpoint)

.text {
    color: pink;
    @include respond-to(bp_5) {
        color: maroon;
    }
}

'bp_1' : 87.5em    // 1400px
'bp_2' : 85.375em  // 1366px
'bp_3' : 80em      // 1280px
'bp_4' : 75em      // 1200px
'bp_5' : 68.75em   // 1100px
'bp_6' : 64em      // 1024px
'bp_7' : 60em      //  960px
'bp_8' : 56.25em   //  900px
'bp_9' : 52.5em    //  840px
'bp_10' : 48em     //  768px
'bp_11' : 42.5em   //  680px
'bp_12' : 37.5em   //  600px
'bp_13' : 32.5em   //  520px
'bp_14' : 30em     //  480px
'bp_15' : 25em     //  400px
'bp_16' : 20em     //  320px


Para convertir PX a EM --> http://pxtoem.com/

*/

$breakpoints: (
    'bp_1'  : 87.5em,
    'bp_2'  : 85.375em,
    'bp_3'  : 80em,
    'bp_4'  : 75em,
    'bp_5'  : 68.75em,
    'bp_6'  : 64em,
    'bp_7'  : 60em,
    'bp_8'  : 56.25em,
    'bp_9'  : 52.5em,
    'bp_10' : 48em,
    'bp_11' : 42.5em,
    'bp_12' : 37.5em,
    'bp_13' : 32.5em,
    'bp_14' : 30em,
    'bp_15' : 25em,
    'bp_16' : 20em,
) !default;





/*------------------------------------------------------------------------------------------------------------*\
    $DIRECTORIOS
\*------------------------------------------------------------------------------------------------------------*/
$dir-images : "../images/";
$dir-fonts  : "../files/fonts/";





/*------------------------------------------------------------------------------------------------------------*\
    $LAYOUT
\*------------------------------------------------------------------------------------------------------------*/
$pagemaxwidth        : 1920px;
$gutterwidth         : 24px;
$radius              : 2px;
$hovertransitiontime : .3s;
$animationtime       : .8s;

// Z-Index
$z-layers: (
    'supremo'  : 99999,
    'muy-alto' :  9999,
    'alto'     :   999,
    'medio'    :   200,
    'default'  :     0,
    'bajo'     :    -1,
    'muy-bajo' :   -99
) !default;





/*------------------------------------------------------------------------------------------------------------*\
    $TAMAÑOS
\*------------------------------------------------------------------------------------------------------------*/
$basefontsize   : 14;
$baselineheight : 14.5;
$fontsize       : 14px;
$lineheight     : 1.2em;

$size-vars: (
    "x-small"  :    .8,
    "small"    :    .9,
    "big"      :    1.5,
    "huge"     :    2
);





/*------------------------------------------------------------------------------------------------------------*\
    $FONT-FACE
\*------------------------------------------------------------------------------------------------------------*/
$font_base      : 'Open Sans', sans-serif;
$font_secondary : 'Playfair Display', serif;
$font_tertiary  : 'Abril Fatface', cursive;







/*------------------------------------------------------------------------------------------------------------*\
    $COLORES
\*------------------------------------------------------------------------------------------------------------*/

// Colores del tema
$colors: (
    'uno'  : red,
    'dos'  : blue,
    'tres' : green
) !default;

// Enlaces
$linkcolor         : blue;
$linkcolor-hover   : darken($linkcolor, 20%);
$linkcolor-visited : $linkcolor;
$linkcolor-focus   : darken($linkcolor-visited, 20%);

// Escala de grises
$black          : rgb(0,0,0);
$superdark      : lighten($black, 10%);
$darkergrey     : lighten($black, 15%);
$darkgrey       : lighten($black, 25%);
$grey           : lighten($black, 50%);
$lightgrey      : lighten($black, 75%);
$lightergrey    : lighten($black, 90%);
$white          : rgb(255,255,255);

// Web
$background       : $white;
$textcolor        : #333333;
$textcolor-strong : $black;
$bordercolor      : $lightgrey;

// Colores sociales
$fb         : rgb(59, 89, 182);
$tw         : rgb(64,153,255);
$googleplus : rgb(221, 75, 57);
$pinterest  : rgb(203, 32, 39);
$skype      : rgb(18,165,244);
$spotify    : rgb(129,183,26);
$instagram  : #4E433C;
$tumblr     : #2B4964;
$vimeo      : #86B32D;
$soundcloud : #f76600;
$youtube    : #FF3333;
$linkedin   : #4875B4;
$flickr     : #FE0883;
$foursquare : #8FD400;





/*------------------------------------------------------------------------------------------------------------*\
    $TEXTURAS
\*------------------------------------------------------------------------------------------------------------*/

// Definimos colores y elementos de popups, mensajes de alerta, etc...
$color-alert    : rgb(252,228,207);
$color-error    : rgb(218,79,73);
$color-info     : rgb(165,221,223);
$color-success  : rgb(91,183,91);
$color-warning  : rgb(250,167,50);

// Texturas de popups
$alertbordercolor   : darken($color-alert, 20%);
$alertborderwidth   : 1px;
$alertborderstyle   : solid;
$alerttext          : darken($color-alert, 60%);

// Error
$alerterrorcolor    : lighten($color-error, 30%);
$alerterrorborder   : lighten($color-error, 20%);
$alerterrortext     : $color-error;

// Info
$alertinfocolor     : lighten($color-info, 10%);
$alertinfoborder    : darken($color-info, 10%);
$alertinfotext      : darken($color-info, 50%);

// Inverso
$alertinversecolor  : inverse($color-alert);
$alertinverseborder : $black;
$alertinversetext   : $white;

// Success
$alertsuccesscolor  : lighten($color-success, 30%);
$alertsuccessborder : lighten($color-success, 20%);
$alertsuccesstext   : darken($color-success, 20%);

// Advertencia
$alertwarningcolor  : lighten($color-warning, 30%);
$alertwarningborder : lighten($color-warning, 20%);
$alertwarningtext   : darken($color-warning, 20%);

// Badges
$badgebackground    : $color-success;
$badgecolor         : $textcolor;

// Botones
$buttonbackground        : $darkgrey;
$buttonbordercolor       : darken($buttonbackground, 10%);
$buttonbottombordercolor : darken($buttonbordercolor, 10%);
$buttoncolor             : $black;
$buttonborderwidth       : 1px;
$buttonborderstyle       : solid;

// Boxes (well)
$wellbackground     : lighten($black, 75%);
$wellbordercolor    : darken($wellbackground, 20%);
$wellborderwidth    : 1px;
$wellborderstyle    : solid;
$wellshadow         : darken($wellbackground, 10%);
$wellshadowblur     : 10px;

// Tablas
$tablebackground    : transparent;
$tablestripe        : lighten($black, 60%);
$tablehover         : lighten(blue, 50%);
$tableborder        : lighten($darkgrey, 40%);
$tableborderwidth   : 1px;
$tableborderstyle   : solid;

// Formularios
$inputbackground    : $white;
$inputborder        : $lightgrey;
$inputborderwidth   : 1px;
$inputborderstyle   : solid;
$inputhover         : lighten($black, 50%);
$inputfocus         : red, 40%;
$placeholdercolor   : $lightergrey;

// Navegación
$nav-width:               44px;
$nav-height:              $nav-width * 1.2;
$nav-icon-size:           16px;
$nav-color:               white;
$nav-background:          green;
$nav-borders:             lighten($nav-background, 10%);
$nav-lists-background:    cyan;
