<div class="author">
    <div class="author__avatar">
        {{ author.avatar }}
    </div>
    <div class="author__info">
        <h3 class="name">{{ author.name }}</h2>
        <div class="bio">
            {{ author.description }}
        </div>
        <a class="link" href="{{ author.link }}" rel="author">
            {{ __('Ver todos los posts de', constant('THEME_NAME')) }} {{ author.name }}
        </a>
    </div>
</div>