<section class="header">
    <a class="logo" href="{{ site.link }}">
        <img src="{{ TimberImage(options.logo).src }}" alt="{{ TimberImage(options.logo).caption }}">
    </a>
    <nav class="menu">
        {% include "partials/menu.twig" with {'menu': menu_main.get_items, 'level': 0} %}
    </nav>
</section>