<ul class="{{ (level == 0) ? 'menu__list' : 'menu__list  submenu  submenu--' ~ level }}">
    {% for item in menu %}
        <li class="{{ item.classes | join(' ') }}">
            <a href="{{ item.link }}">{{ item.title }}</a>
            {% if (item.get_children) %}
                {% include "partials/menu.twig" with {'menu': item.get_children, 'level': level + 1} %}
            {% endif %}
        </li>
    {% endfor %}
</ul>