{% if (pagination.pages) %}

    <ol class="nav  pagination">
        {% if pagination.prev %}
            <li class="pagination__next">
                <a class="{{ pagination.prev.link | length ? '' : 'invisible' }}" href="{{ pagination.prev.link }}"></a>
            </li>
        {% endif %}

        {% for page in pagination.pages %}
            <li>
                {% if page.link %}
                    <a class="page-numbers  {{ page.class }}" href="{{ page.link }}">{{ page.title }}</a>
                {% else %}
                    <span class="page-numbers  {{ page.class }}">{{ page.title }}</span>
                {% endif %}
            </li>
        {% endfor %}

        {% if pagination.next %}
            <li class="pagination__last">
                <a class="{{ pagination.next.link | length ? '' : 'invisible' }}" href="{{ pagination.next.link }}">{{ __('siguiente', constant('THEME_NAME')) }}</a>
            </li>
        {% endif %}
    </ol>

{% endif %}