<div class="result  result--{{ (post.get_thumbnail) ? 'foto' : 'full' }}">
    {% if (post.get_thumbnail) %}
        <div class="foto">
            <a href="{{ post.link }}">
                <img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.caption }}" />
            </a>
        </div>
    {% endif %}
    <div class="info">
        <h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
        <p class="resume">{{ post.get_preview }}</p>
    </div>
</div>