
@if $incluir-botones == true {


/*------------------------------------------------------------------------------------------------------------*\
    $BOTONES
\*------------------------------------------------------------------------------------------------------------*/

// .btn es la clase principal para definir un botón
.btn {
	appearance       : none;
	cursor           : pointer;
	display          : inline-block;
	text-align       : center;
	vertical-align   : middle;
	white-space      : nowrap;
	border           : none;
	margin           : 0;
	padding          : .5em 1em;
	color            : $textcolor;
	background-color : $buttonbackground;
	border-radius    : $radius;
	// Nadie quiere un botón con texto subrayado cuando hacemos hover
	&:hover,
	&:focus {
		text-decoration: none;
	}
	&:active,
    &:focus{
        outline: 0;
    }
    &:visited {
		color: $textcolor;
	}
}




/*------------------------------------------------------------------------------------------------------------*\
    $BOTONES - VARIANTES
\*------------------------------------------------------------------------------------------------------------*/

// Inputs con estilo de botones
input[type="submit"].btn:hover {
	border-color: $buttonbordercolor;
}

// Botón principal
.btn--primary {
	color            : $white;
	background-color : color(uno);
	&:hover {
		color: lighten(color(uno), 40%);
	}
	&:visited {
		color: darken(color(uno), 40%);
	}
}

// Botón de OK
.btn--success {
	color            : darken($color-success, 40%);
	background-color : $color-success;
	&:hover {
		color: lighten($color-success, 40%);
	}
	&:visited {
		color: darken($color-success, 40%);
	}
}

// Botón de Error
.btn--error {
	color            : darken($color-error, 40%);
	background-color : $color-error;
	&:hover {
		color: lighten($color-error, 40%);
	}
	&:visited {
		color: darken($color-error, 40%);
	}
}

// Botón de advertencia
.btn--warning {
	color            : darken($color-warning, 40%);
	background-color : $color-warning;
	&:hover {
		color: lighten($color-warning, 40%); }
	&:visited {
		color: darken($color-warning, 40%);
	}
}

// Botón de Info
.btn--info {
	color            : darken($color-info, 40%);
	background-color : $color-info;
	&:hover {
		color: lighten($color-info, 40%);
	}
	&:visited {
		color: darken($color-info, 40%);
	}
}

// Botón no disponible
.btn--disabled {
	cursor  :  default;
	opacity : .5;
}

// Botón inactivo
.btn--inactive,
.btn--inactive:hover,
.btn--inactive:active,
.btn--inactive:focus {
	cursor  : default;
	opacity : .5;
}






/*------------------------------------------------------------------------------------------------------------*\
    $BOTONES - TAMAÑOS
\*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.btn--big {
	padding-right : 4.5em;
	padding-left  : 4.5em;
	@include font-size(18, no, 4);
}
.btn--large {
	padding-right : 3em;
	padding-left  : 3em;
	@include font-size(16, no, 3);
}
.btn--small{
	padding-right : 1.5em;
	padding-left  : 1.5em;
	@include font-size(14, no, 2);
}
.btn--mini {
	padding-right : 0.5em;
	padding-left  : 0.5em;
	@include font-size(12, no, 1.5);
}






/*------------------------------------------------------------------------------------------------------------*\
    $BOTONES - GRUPOS
\*------------------------------------------------------------------------------------------------------------*/
// Con esta clase podemos agrupar los botones en grupos horizontales.
.btn--group {
	position     : relative;
	*margin-left : .3em;
	.btn {
		position      : relative;
		border-radius : 0;
		float         : left;
		margin-left   : -1px;
		&:first-child {
			margin-left   : 0;
			border-radius : 0, 0, $radius, $radius;
		}
		&:last-child {
			border-radius: $radius, $radius, 0, 0;
		}
	}
	.btn.large {
		&:first-child {
			margin-left   : 0;
			border-radius : $radius, 0, $radius, 0;
		}
		&:last-child {
			border-radius: 0, $radius, 0, $radius;
		}
	}
}




} // endif
