
@if $incluir-paginacion == true {


/*------------------------------------------------------------------------------------------------------------*\
    $PAGINACION
\*------------------------------------------------------------------------------------------------------------*/

/*  Paginación básica

    Requiere algunos comentarios para evitar el espacio causado por `display:inline-block;`

    <ol class="nav  pagination">
        <li class="pagination__first"><a href="/page/first">First</a></li>
        <li class="pagination__prev"><a href="/page/previous">Previous</a></li>
        <li><a href="/page/1">1</a></li>
        <li><a href="/page/2">2</a></li>
        <li><a href="/page/3">3</a></li>
        <li><a href="/page/4">4</a></li>
        <li><a href="/page/5">5</a></li>
        <li><a href="/page/6">6</a></li>
        <li class="pagination__next"><a href="/page/next">Next</a></li>
        <li class="pagination__last"><a href="/page/last">Last</a></li>
    </ol>

 */
.pagination {
	margin     : 0;
	padding    : 0;
	text-align : center;
    // Remove whitespace caused by `inline-block`.
    font-size: 0;
    & > li {
        display        : inline-block;
        padding        : 0;
        letter-spacing : normal;
        word-spacing   : normal;
        @include font-size(14, no);
        & > a {
            padding : .5em 1em;
        }
    }
    .pagination__first a:before {
        content: "\00AB" "\00A0";
    }
    .pagination__last a:after {
        content: "\00A0" "\00BB";
    }
}





} // endif
