
@if $incluir-texturas == true {



/*------------------------------------------------------------------------------------------------------------*\
    $TEXTURAS
\*------------------------------------------------------------------------------------------------------------*/

// Más estilos adicionales:
// http://twitter.github.com/bootstrap/components.html#alerts"
// https://github.com/twitter/bootstrap/blob/master/less/alerts.less"

.alert {
	margin-bottom    : $baselineheight;
	padding          : 8px 35px 8px 14px;
	background-color : $color-alert;
	border           : $alertborderwidth $alertborderstyle $alertbordercolor;
	font-family      : $font_base;
	color            : $alerttext;
	border-radius    : $radius;
	@include font-size(14, no);
	.alert--heading {
		color : inherit;
	}
	.close {
		position    : relative;
		top         : -2px;
		right       : -21px;
		float       : right;
		font-weight : bold;
		line-height : 18px;
		color       : inherit;
		@include font-size(21, no);
	}
}

.alert--success {
	background-color : $alertsuccesscolor;
	border-color     : $alertsuccessborder;
	color            : $alertsuccesstext;
}

.alert--warning {
	background-color : $alertwarningcolor;
	border-color     : $alertwarningborder;
	color            : $alertwarningtext;
}

.alert--error {
	background-color : $alerterrorcolor;
	border-color     : $alerterrorborder;
	color            : $alerterrortext;
}

.alert--info {
	background-color : $alertinfocolor;
	border-color     : $alertinfoborder;
	color            : $alertinfotext;
}

.alert--inverse {
	background-color : $alertinversecolor;
	border-color     : $alertinverseborder;
	color            : $alertinversetext;
}

// alert block
.alert--block {
	padding-top    : 14px;
	padding-bottom : 14px;
	.alert--heading {
		margin-bottom : $baselineheight / 8;
		font-size     : inherit;
		font-weight   : bold;
	}
	> p,
	> ul {
		margin-bottom : 0;
	}
	p + p {
		margin-top : 5px;
	}
}

// BADGES ====================================================
.badge {
	padding          : 1px 9px 2px;
	font-weight      : bold;
	white-space      : nowrap;
	border-radius    : $radius;
	color            : $badgecolor;
	background-color : $badgebackground;
	transition       : background-color .25s 0 linear;
	@include font-size(12, no);
	&:hover {
		color           : $badgecolor;
		text-decoration : none;
		cursor          : pointer;
	}
}

.badge--error {
	background-color : $color-error;
	&:hover {
		background-color : darken($color-error, 20%);
	}
}

.badge--warning {
	background-color : $color-warning;
	&:hover {
		background-color : darken($color-warning, 20%);
	}
}

.badge--success {
	background-color : $color-success;
	&:hover {
		background-color : darken($color-success, 20%);
	}
}

.badge--info {
	background-color : $color-info;
	color            : darken($color-info, 50%);
	&:hover {
		background-color : darken($color-info, 20%);
	}
}

.badge--inverse {
	background-color : $color-info;
	color            : $white;
	&:hover {
		background-color : darken($color-info, 20%);
		color : $white;
	}
}


// Para más gradientes: https://github.com/twitter/bootstrap/blob/master/less/mixins.less


// WELL ====================================================
.well {
	min-height       : 21px;
	padding          : 11px;
	border-radius    : $radius;
	margin-bottom    : $baselineheight;
	background-color : $wellbackground;
	border           : $wellborderwidth $wellborderstyle $wellbordercolor;
	box-shadow       : inset 0 1px $wellshadowblur $wellshadow;
	p:last-child {
		margin-bottom : 0;
	}
}

.well--large {
	padding : 22px;
}

.well--small {
	padding : 6px;
}

// Web Colours
::-moz-selection {
	background-color : lighten(color(uno), 65%);
	color            : color(uno);
	text-shadow      : none;
}

::selection {
	background-color : lighten(color(uno), 65%);
	color            : color(uno);
	text-shadow      : none;
}




} // endif
