
@if $incluir-tipografia == true {




/*------------------------------------------------------------------------------------------------------------*\
    $TIPOGRAFÍA
\*------------------------------------------------------------------------------------------------------------*/

// HEADINGS
h1,
h2,
h3,
h4,
h5,
h6 {
	margin         : 0;
	font-family    : $font_base;
	font-weight    : normal;
	color          : $textcolor;
	text-rendering : optimizelegibility;
	&.altheader {
		color          :$grey;
		text-transform : uppercase;
	}
}

h1 small,
h2 small,
h3 small {
	font-weight : normal;
	display     : block;
	color       : $grey;
}

@each $header, $margin-bot, $font-size, $line-height in (h1, 2, 32, 1.2)
                                                        (h2, 3, 24, 1.2)
                                                        (h3, 4, 21, 1.3)
                                                        (h4, 6, 18, 1.25)
                                                        (h5, 6, 16, 1)
                                                        (h6, 6, 14, 1) {
	#{$header}, .#{$header} {
		margin-bottom : $lineheight / $margin-bot;
		@include font-size($font-size, no, $line-height);
	}
}


// TIPOGRAFÍA
p,
ol,
ul,
dl,
address {
	margin-bottom : $lineheight;
	line-height   : $lineheight;
}

.intro {
 	font-weight: bold;
}

small {
	color: $grey;
	@include font-size(12, no);
}

ul,
ol {
	margin  : 0 0 $lineheight 0;
	padding : 0 0 0 $gutterwidth;
}

li ul,
li ol {
	margin : 0;
}


// blockquote
blockquote  {
	margin       : 0 0 $lineheight 0;
	padding-left : $gutterwidth;
	border-left  : 2px solid $bordercolor;
	font-family  : inherit;
	font-style   : normal;
	p {
		color      :$grey;
		font-style : italic;
		@include font-size(18, no);
	}
}

q {
	quotes     : none;
	font-style : italic;
}

blockquote p::before,
blockquote p::after,
q:before,
q:after {
	content : "";
}

cite {
	font-style : normal;
}


// definition lists
dl,
dd {
	margin-bottom : $baselineheight;
}

dt {
	font-weight : bold;
}

.dl-horizontal {
	dt {
		float      : left;
		clear      : left;
		width      : 20.25%;
		text-align : right;
	}
	dd {
		margin-left : 22.78%;
	}
}


// text-level
abbr[title] {
	border-bottom : 1px dotted $bordercolor;
	cursor        : help;
}

b, strong {
	font-weight : bold;
}

dfn {
	font-style : italic;
}

ins {
	background-color : lighten($black, 75%);
	color            : $textcolor;
	text-decoration  : none;
}

mark {
	background-color : yellow;
	color            : $textcolor;
}

pre,
code,
kbd,
samp {
	font-family : $font_tertiary;
	line-height : $baselineheight;
	@include font-size(14, no);
}

pre {
	white-space : pre;
	white-space : pre-wrap;
	word-wrap   : break-word;
}

sub,
sup {
	position       : relative;
	line-height    : 0;
	vertical-align : $baselineheight;
	@include font-size(12, no);
}

sup {
	top : -.5em;
}

sub {
	bottom : -.25em;
}


hr {
	clear      : both;
	display    : block;
	margin     : $baselineheight * 2 0;
	padding    : 0;
	height     : 1px;
	border     : 0;
	border-top : 1px solid $bordercolor;
}




}	//endif
